*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    padding: 2em;
}

img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    border-bottom: 2px solid rgb(159, 159, 201);
    text-align: center;
}
.mhcont{
    height:20em;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
    align-content: center;
}
span{
    font-weight: bold;
}
p{
    font-size: 1.3em;
    margin-top: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.site{
    max-width: 50em;
    margin: 0 auto;

}
.card1,
.card2,
.card3{
   display: flex;
   border: 2px solid blue;
   border-radius: 2em;
   overflow: hidden;
   padding: 0.2em;
   background-color: lightblue;
   max-width: 6em;
   max-height: 6em;
}

.card1:hover,
.card2:hover,
.card3:hover{
   box-shadow: 0 0 2em 0.5em red;
   max-width: 18.7em;
   max-height: 18.7em;
}

button{
    font-size: 1.2em;
    padding: 0.3em 1.2em;
    color: blue;
    font-weight: 400;
    border-radius: 0.5em;
    background-color: lightpink;
}
button:hover{
    box-shadow: 0 0 0.5em 0.1em lightcoral;
}
.button-container{
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}
#small{
   display: block;
   width: 9.4em;
   margin: 2em auto;
   background-color: azure;
}

@media (width <=600px){
   
   html{
    font-size: 10px;
   }

}
